doctype html

html(lang='en')
	head
		title Nightlife coordinator
		link(rel="stylesheet" href="/public/css/main.css" type="text/css")

	body
		h1 Bar list
		ul
			each bar in bars
				li
					a(href=bar.url)= bar.name
					img(src=bar.image_url)
		
