extends layout.jade

block content
	h1 Bar list
	ul
		each bar in bars
			li
				a(href=bar.url)= bar.name
				img(src=bar.image_url)

				if bar.going
					p #{bar.going} going tonight!
				else
					p 0 going tonight!

				if bar.voted > 0
					a(href='/api/notgoing' + place + '/' + bar.id) not going!
				else
					a(href='/api/going/' + place + '/' + bar.id) going!
