extends layout.jade


block content
	.content-padded
		h4 See where's popular tonight and RSVP.
		form(method="post")
			#container
				input(
					type="text" name="location"
					placeholder="Where are you going out?"
				)
				button(
					type="submit" class="btn btn-submit btn-primary btn-block btn-outlined"
				) GO!
