doctype html

html(lang='en')
	head
		title Nightlife coordinator
		link(rel="stylesheet" href="/public/css/main.css" type="text/css")

	body
		h1 Plans tonight?
		h2 See where's popular tonight and RSVP.
		form(method="post")
			#container
				input(
					type="text" name="location" placeholder="Where are you going out?"
				)
				button(
					type="submit" class="btn btn-submit"
				) GO!
		

	script (type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
