extends layout.jade

block content
	h1 Plans tonight?
	h2 See where's popular tonight and RSVP.
	form(method="post")
		#container
			input(
				type="text" name="location"
				placeholder="Where are you going out?"
			)
			button(
				type="submit" class="btn btn-submit"
			) GO!
		
