<!DOCTYPE html>

<html>
	<head>
		<title>Nightlife coordinator</title>
		<!--Icon Font needed. also import style sheet etc.-->
		<link rel="stylesheet" href="/public/css/main.css" type="text/css">
	</head>

	<body>
		<h1>Plans tonight?</h1>
		<h2>See where's popular tonight and RSVP.</h2>
		<form>
			<div>
				<input type="text" name="location" placeholder="Where are you going out?">
				<button type="submit" class="btn btn-submit">GO!</button>
			</div>
		</form>
		

		<!--imports -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	</body>

</html>