doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		title Nightlife coordinator

		meta(
			name='viewport' 
			content='initial-scale=1, maximum-scale=1'
		)

		link(href='/public/css/ratchet.css' rel='stylesheet')


	body
		if isLoggedIn
			header(class='bar bar-nav')
				h1.title Plans tonight #{user.username}?
		else
			header(class='bar bar-nav')
				h1.title Plans tonight?

		nav(class='bar bar-tab')
				a(href='/' class='tab-item') 
					span(class='icon icon-home')
					span(class='tab-label') home
				a(href='/about' class='tab-item') 
					span(class='icon icon-info')
					span(class='tab-label') about
				if !isLoggedIn
					a(href='/auth/github' class='tab-item') 
						span(class='icon icon-plus')
						span(class='tab-label') login 
				else
					a(href='/profile' class='tab-item') 
						span(class='icon icon-person') 
						span(class='tab-label') profile
					a(href='/logout' class='tab-item') 
						span(class='icon icon-close')
						span(class='tab-label') logout 


		.content

			block content