doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		title Nightlife coordinator

		meta(
			name='viewport' 
			content='initial-scale=1, maximum-scale=1'
		)

		link(href='/public/css/ratchet.css' rel='stylesheet')

		block scripts


	body
		div(class='bar bar-standard')
			.segmented-control
				a(href='/' class='control-item' data-ignore="push") home
				a(href='/about' class='control-item' data-ignore="push") about
				if !isLoggedIn
					a(href='/auth/github' class='control-item' data-ignore="push") login 
				else
					a(href='/profile' class='control-item') profile
					a(href='/logout' class='control-item') logout 

		div(class='bar bar-standard bar-header-secondary')
			if isLoggedIn
				h4.title Welcome #{user.username}!
			else
				h4.title Welcome!

		div(class='bar bar-standard bar-footer')
			p.title Written and coded by #[span(style='color: blue') Catherine Bacon]

		.content

			block content