doctype html

html(lang='en')
	head
		title Nightlife coordinator
		block scripts
		link(rel="stylesheet" href="/public/css/main.css" type="text/css")

	body
		block content
		block foot
			#footer
				p Created by Catherine Bacon